.label {
  position: relative;
}

.list {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  padding: 10px;
}
.list li {
  cursor: pointer;
  padding: 0.5rem;
  color: #162232;
  transition: all 0.3 ease 0s;
  background: var(--primary);
  color: white;
  border-radius: 10px;
}
.list li:not(:last-child) {
  margin-bottom: 5px;
}
.list li:hover {
  transition: all 0.2 ease 0s;
  opacity: 0.7;
}

.table-block {
  margin-top: 30px;
  width: 90%;
  border-radius: 25px;
  overflow: hidden;
}