.table {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
@media (min-width: 767px) {
  .table {
    font-size: 22px;
  }
}
.table tr {
  height: 50px;
}
.table thead {
  background-color: white;
  color: var(--primary);
}
.table thead th {
  font-weight: bold;
}
.table tbody tr:nth-child(odd) {
  background-color: var(--secondary-secondary);
}
.table tbody tr:nth-child(even) {
  color: var(--primary);
  background-color: var(--secondary);
}
.table td {
  font-weight: 600;
  padding: 5px;
}