.wrapper::before, .wrapper::after{
	content:'';
	position: absolute;
	width: 46%;
	height: 46%;
	background: #C1E3D6;
	border-radius: 12%;
	transform: rotate(-45deg);
}

.wrapper::before{
	left:-10.5%;
	top:-10%;
}
.wrapper::after{
	right: -10.5%;
	bottom:-10%;
}
.wrapper{
	display: flex;
	flex-direction:column;
	position: relative;
	z-index: 2;
	min-height: 100%;

	border: 3px solid red;
}
