.label{
	position: relative;
}
.list{
		position:absolute;
		bottom:0;
		transform:translateY(100%);
		width: 100%;
		padding:10px;
		li{
			cursor: pointer;
			padding:0.5rem;
			color:#162232;
			transition:all 0.3 ease 0s;
			background:var(--primary);
			color:white;
			border-radius:10px;
			&:not(:last-child) {
				margin-bottom: 5px;
			}
			&:hover{
				transition:all 0.2 ease 0s;
				opacity: 0.7;
			}
		}
	}
	.table-block{
		margin-top: 30px;
		width: 95%;
		max-height: 300px;
		overflow: auto;
	}