.window{
	position:absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%, -50%);
	max-width:800px;
	width: 95%;
	
	&__row{
		background-color: #F6FBF9;
		border-radius:8px;
		max-width:580px;
		text-align: center;
		padding:16px;
		@media(min-width:767px) {
			padding:31px;
		}
		@media(min-width:991px) {
			padding:62px;
		}
	}
	&__form{
		display: flex;
		flex-direction:column;
		input {
			width: 100%;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
		input,button{
			line-height: calc(20/23);
			border-radius:8px;
			padding:11px 16px;
			font-size: 17px;
			@media(min-width:767px) {
				font-size: 23px;
			}
		}
		
		& > button {
			align-self: center;
		}
		
		& > *:not(:last-child) {
			margin-bottom: 26px;
		}
	}
	
}