.table{
	width: 100%;
	text-align: center;

	tr{
		height: 50px;
	}
	
	thead{
		background-color: white;
		color:var(--primary);
		tr{
		}
		th{
			font-weight: bold;
			font-size: 20px;
		}
	}
	tbody{
		color:#333;
		tr{
			&:nth-child(odd) {
				background-color: var(--secondary-secondary);
			}
			&:nth-child(even) {
				background-color: var(--secondary);
			}
		}
	}	
	td{
		font-size: 18px;
		font-weight: 600;
		padding:5px;
	}

}