.pagination{
	text-align: center;
	margin:50px 0;
	a{
		display: inline-block;
		opacity:0.5;
		background-color: #162232;
		padding:5px 8px;
		border-radius:5px;
		color:#fff;
		&:not(:last-child) {
			margin-right: 10px;
		}
		&.active{
			opacity:1;
		}
	}
}